.post-text {
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}
.post:hover .post-text-box {
  visibility: visible;
}
.post:hover img {
  filter: blur(3px);
}
