@media screen and (min-width: 1024px) {
  .sidebar-text {
    height: 350px;
  }
  .sidebar {
    top: -290px;
  }
}
@media screen and (min-width: 1360px) {
  .sidebar-text {
    height: 460px;
  }
  .sidebar {
    top: -400px;
  }
}
@media screen and (min-width: 1920px) {
  .sidebar-text {
    height: 660px;
  }
  .sidebar {
    top: -600px;
  }
}
